<app-navbar></app-navbar>
<div style="text-align:center">
  <img class="Liberty_image" alt="LIT Logo" src="assets/img/lit_logo2.png"><br>
  <br>
  <br>
  <div class="center_div">
    <div class="centered">
      <div class="row_new">
        <div class="column_new">
          <a routerLink="/standardform">
            <img src="../../assets/img/po_image.jpg" alt="Standard Form" style="width:100%">
            <button style="background-color: #1A1446; color: white;" pButton type="button" label="Standard"
                    class="ui-button-raised"></button>
          </a>
        </div>
        <div class="column_new">
          <a routerLink="/travel-form">
            <img src="../../assets/img/travel_image.jpg" alt="Travel Form" style="width:100%">
            <button style="background-color: #1A1446; color: white;" pButton type="button" label="Travel"
                    class="ui-button-raised">
            </button>
          </a>
        </div>
        <div class="column_new">
          <a routerLink="/training-form">
            <img src="../../assets/img/training.png" alt="Training" style="width:100%">
            <button style="background-color: #1A1446; color: white;" pButton type="button" label="Training"
                    class="ui-button-raised">
            </button>
          </a>
        </div>
        <div class="column_new">
          <a routerLink="">
            <img src="../../assets/img/Contractor_image.jpg" alt="Contractor" style="width:100%">
            <button style="background-color: #1A1446; color: white;" pButton type="button" label="Contractor"
                    class="ui-button-raised">
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
