<app-navbar></app-navbar>
<div style="text-align:center">
  <img class="Liberty_image" alt="LIT Logo" src="assets/img/lit_logo2.png"><br>
  <br>
  <br>

  <div class="container">
    <div class="main_holder">
      <div class="row">
        <div class="column">
          <a routerLink="/standardform">
            <img class="form_images" src="../../assets/img/po_image.jpg"/>
            <button pButton type="button" label="Standard" class="ui-button-raised">
            </button>
          </a>
        </div>
        <div class="column">
          <a routerLink="/travel-form">
            <img class="form_images" src="../../assets/img/travel_image.jpg"/>
            <button pButton type="button" label="Travel" class="ui-button-raised">
            </button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <a routerLink="/training-form">
            <img class="form_images" src="../../assets/img/form.png"/>
            <button pButton type="button" label="Training" class="ui-button-raised">
            </button>
          </a>
        </div>
        <div class="column">
          <a routerLink="">
            <img class="form_images" src="../../assets/img/form.png"/>
            <button pButton type="button" label="Contractor" class="ui-button-raised">
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
