.open-color {
  color: #c87e27 !important;
}

.approved-color {
  color: #3e913e !important;
}

.rejected-color {
  background-color: #b35a4a !important;
  color: #000000 !important;
}

.closed-color {
  background-color: #b7b7b7 !important;
  color: #000000 !important;
}
