<div class="login_container">
  <h2>
    Login to {{ title }}!
  </h2>
  <img width="250" alt="LIT Logo" src="assets/img/lit_logo2.png"><br>

  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.nnumber.errors }">
      <input type="nNumber" size="30" pInputText placeholder="nNumber" tabindex="1" formControlName="nnumber">
    </p>

    <div *ngIf="isSubmitted && formControls.nnumber.errors" class="help-block">
      <p *ngIf="formControls.nnumber.errors.required">name is required</p>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <input type="password" size="30" pInputText placeholder="Password" tabindex="2" formControlName="password">
    </p>

    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
    </div>

    <p>
      <button pButton type="submit" label="Log in" class="ui-button-raised ui-button-info" tabindex="3"></button>
    </p>
  </form>

</div>
