<table>
  <thead>
  <tr>
    <td><b>Supplier name</b></td>
    <td><b>Address</b></td>
    <td><b>Phone no.</b></td>
    <td><b>Email.</b></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let company of suppliers">
    <td>{{company.name}}</td>
    <td>{{company.address}}</td>
    <td>{{company.telephone}}</td>
    <td>{{company.email}}</td></tr>
  </tbody>
</table>

<button pButton type="button" label="testing button" (click) = showSuppliers() class="ui-button-rounded ui-button-info">
</button>
