<div style="text-align:center">
  <div class="homebutton">
    <a routerLink="/home"><button pButton type="button" label="Home">
  </button></a>
  </div>
  <div class="logoutbutton">
    <a routerLink="/login"><button class="logoutbutton" pButton label="Logout"></button></a>
  </div>
  <img width="250" alt="LIT Logo" src="assets/img/lit_logo.jpg"><br>
  <br>
  <br>
  <p><div class="divider"></div><a routerLink=""><button pButton type="button" label="Standard" class="ui-button-raised">
  </button></a>
  <div class="divider"></div>
  <a routerLink="\\\\\\\\\"><button pButton type="button" label="Travel" class="ui-button-raised">
  </button></a>
  <div class="divider"></div>
  <a routerLink=""><button pButton type="button" label="Training" class="ui-button-raised">
  </button></a>
  <div class="divider"></div>
  <a routerLink=""><button pButton type="button" label="Contractor" class="ui-button-raised">
  </button></a>
</div>
