.travel_container{
  text-align: left;
}
.hotel-form{
  position: absolute;
  top: 50%;
  right: 10%;
}
.flight-container{
  text-align: center;
  width: 100%;
}
.title{
  text-align: center;
}
.logoutbutton {
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
}
.homebutton {
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
}
