<app-navbar></app-navbar>

<form [formGroup]="travellerForm" class="travel_container" (ngSubmit)="update()">
  <div style="text-align:center">
    <h2>
      Traveller Details
    </h2>
    <div formArrayName="traveller" *ngFor="let items of traveller.controls;let k = index">
      <div [formGroupName]="k">
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
          <input type="text" placeholder="Traveller Name" formControlName="travellerName">
        </p>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
          <input type="text" placeholder="Traveller N-Number" formControlName="travellerNnumber">
        </p>

        <br>
        <br>

        <h2>
          Hotel Details
        </h2>
        <p>
          <button pButton type="button" label="Add a Hotel" class="ui-button-raised" (click)="toggle()">
          </button>
        </p>
        <ng-container *ngIf="show">
        <div formGroupName="hotel">
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" placeholder="Hotel Name" formControlName="hotelName">
          </p>
          <p>Hotel Check In</p>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="date" placeholder="Hotel Check In" formControlName="hotelCheckIn">
          </p>
          <p>Hotel Check Out</p>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="date" placeholder="Hotel Check Out" formControlName="hotelCheckOut">
          </p>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="number" placeholder="Hotel Cost" formControlName="hotelCost">
          </p>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" placeholder="Account Use" formControlName="hotelAccountUse">
          </p>
        </div>
        </ng-container>

        <br>
        <br>
<!--<div class flight-container>-->
        <h2>
          Flight Details
        </h2>
        <p>
          <button pButton type="button" label="Add a Flight" class="ui-button-raised" (click)="toggleOne()">
          </button>
        </p>

        <ng-container *ngIf="showOne">
          <table>
        <div formGroupName="flight">
          <tbody>
          <tr>
          <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" placeholder="Airline Name" formControlName="flightAirline" class=flight-container>
          </td>

          <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" placeholder="Departure Airport" formControlName="departureAirport"
                   class=flight-container>
          </td>

          <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" placeholder="Arrival Airport" formControlName="arrivalAirport"
                   class=flight-container>
          </td>

          <p>Flight Check In</p>
          <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="date" placeholder="Flight Check In" formControlName="flightCheckIn"
                   class=flight-container>
          </td>
          <p>Flight Check Out</p>
          <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="date" placeholder="Flight Check Out" formControlName="flightCheckOut"
                   class=flight-container>
          </td>

          <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="number" placeholder="Flight Cost" formControlName="flightCost" class=flight-container>
          </td>

          <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" placeholder="Account Use" formControlName="flightAccountUse"
                   class=flight-container>
          </td>
          </tr>
          </tbody>
        </div>
          </table>
        </ng-container>
<!--</div>-->
        <h2>
          Car
        </h2>
        <p>
          <button pButton type="button" label="Add a Car" class="ui-button-raised" (click)="toggleTwo()">
          </button>
        </p>
        <ng-container *ngIf="showTwo">
        <div formGroupName="car">
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" placeholder="Add Car Name" formControlName="addCarName">
          </p>
          <p>Add Car Collection Date</p>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="date" placeholder="Add Car Collection Date" formControlName="addCarCollectionDate">
          </p>
          <p>Add Car Return Date</p>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="date" placeholder="Add Car Return Date" formControlName="addCarReturnDate">
          </p>

          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="number" placeholder="Add Car Price Per Day" formControlName="addCarPricePerDay">
          </p>
        </div>
        </ng-container>
        <button pButton input type="button" (click)="removeTraveller(k)">
          Remove previous input
        </button>
      </div>
      <br>
      <button pButton input type="button" (click)="addTraveller()">
        Add another Traveller
      </button>
    </div>
  <p>
    <button pButton input type="submit" value="Add to Form" label="Add to Form"></button>
  </p>
  </div>
</form>
