<div style="text-align:center" xmlns="http://www.w3.org/1999/html">
  <h2>Standard Form !</h2>
  <div class="homebutton">
    <a routerLink="/home"><button pButton type="button" label="Home">
    </button></a>
  </div>
  <div class="logoutbutton">
    <a routerLink="/login"><button class="logoutbutton" pButton label="Logout"></button></a>
  </div>
  <br>
  <p class="first">Search for Existing Company
    <input id="input" type="text" size="45" pInputText placeholder="Please enter the company name"></p>
  <h4>OR Add New Company</h4></div>
<div class="div_container" style="align-content: center">
  <form [formGroup]="form" (ngSubmit)="Submit()">
  <p for="companyName" class="first">Company Name</p>
  <input class="form_container" formControlName="companyName" id="companyName" type="text" size="100"
         pInputText placeholder="Please enter the company name">
  <p class="first">Address</p>
  <input class="form_container" formControlName="companyAddress" id="companyAddress" type="text" size="100"
         pInputText placeholder="Please enter the address">
  <p class="first">Company Phone Number</p>
  <input class="form_container" formControlName="companyPhone" id="companyPhone" type="text" size="100"
         pInputText placeholder="Please enter the telephone number">
  <p class="first">Email</p>
  <input class="form_container" formControlName="companyAddress" id="companyEmail" type="email" size="100"
         pInputText placeholder="Please enter the email">
   <p><button pButton type="submit" label="NEXT" class="ui-button-raised" style="align-content: end">
   </button></p>

  </form>

</div>

