.divider{
  width:30px;
  height:auto;
  display:inline-block;
}
.ui-button-raised {
  width: 200px;
  font-size: 22px;
}
.logoutbutton {
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
}
.form-icons {
  font-size: 15px;
  padding: 10px;
}
.div_container {
  margin: auto;
  position: static;
  width: 60%;
  border: 2px solid dodgerblue;
  padding: 20px;
}

.form_container {
  margin: auto;
  position: static;
  width: 80%;
  border: 2px solid dodgerblue;
  padding: 5px;
}

.form_container_2 {
  margin: auto;
  position: static;
  width: 100%;
  border: 2px solid dodgerblue;
  padding: 2px;
}
