<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<p-messages [(value)]="msgs"></p-messages>
<div style="text-align:center" xmlns="http://www.w3.org/1999/html">
  <br>
  <p class="first">Search for Existing Company
    <input id="input" type="text" size="45" pInputText placeholder="Please enter the company name"></p>
  <h4>OR Add New Company</h4></div>
<form [formGroup]="standardForm" class="div_container" (ngSubmit)="submit()">
  <div formGroupName="company">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }" class="first">Company Name</p>
        <input class="form_container" formControlName="companyName" id="companyName" type="text" size="100"
               pInputText placeholder="Please enter the company name">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }" class="first">Company Address</p>
        <input class="form_container" formControlName="companyAddress" id="companyAddress" type="text" size="100"
               pInputText placeholder="Please enter the address">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }" class="first">Company Phone Number</p>
        <input class="form_container" formControlName="companyPhone" id="companyPhone" type="text" size="100"
               pInputText placeholder="Please enter the telephone number">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }" class="first">Company Email</p>
        <input class="form_container" formControlName="companyEmail" id="companyEmail" type="text" size="100"
           pInputText placeholder="Please enter the telephone number">


    </div>
  <br>
  <br>
  <div style="overflow-x:auto;">
    <table>
      <thead>
      <tr class="t-order">
        <th>Account Use</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Cost</th>
        <th>Total</th>
        <th>Add</th>
        <th>Remove</th>

      </tr>
      </thead>

      <div formArrayName="order" *ngFor="let orders of order.controls;let i = index">
        <div [formGroupName]="i">
          <tbody>
          <tr class="t-order">
            <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
              <input class="form_container_2" type="text" placeholder="Account Use" formControlName="accountUse" />
            </td>
            <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
              <input #value1 class="form_container_2" type="number" placeholder="Item Quantity" formControlName="orderQuantity" />
            </td>
            <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
              <input class="form_container_2" type="text" placeholder="Order Description" formControlName="orderDescription">
            </td>
            <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
              <input #value2 class="form_container_2" type="number" placeholder="Cost per unit" formControlName="orderCost">
            </td>
            <td [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
              <input class="form_container_2"
                     [value]="(value1.value && value2.value) ? (+value1.value * +value2.value) : ''"
                     type="number" formControlName="orderTotal" disabled>
            </td>
            <td>
              <div *ngIf="i == order.length-1">
                <button pButton class="form-icons-add" icon="pi pi-plus-circle" type="button" [disabled]="!order.valid" (click)="addItem()">
                </button>
              </div>
            </td>
            <td>
              <button pButton class="form-icons-remove" icon="pi pi-times-circle" type="button" (click)="removeItem(i)">
              </button>
            </td>
          </tr>
          </tbody>

        </div>
        <br>
      </div>
    </table>
  </div>
    <br>
  <div style="float: left;">
    <h4>Please select currency</h4>
    <p-dropdown [options]="currencies" formControlName="currency" placeholder="Select a Currency"
                optionLabel="name" [showClear]="true"></p-dropdown>
  </div>
  <div style="float: right;">
    <h4>Please select payment method</h4>
    <p-dropdown [options]="paymentMethod" formControlName="payment" placeholder="Select payment method"
                optionLabel="name" [showClear]="true"></p-dropdown>
  </div>
  <div style="float: bottom;">
    <h4>Approver</h4>
    <p-dropdown [options]="approvers" formControlName="approver" placeholder="Select approver"
                optionLabel="name" [showClear]="true"></p-dropdown>

  </div>
    <br>
    <button style="background-color: #1A1446; color: white;" type="button" pButton (click)="showConfirm()" label="Submit Purchase Order" [disabled]="!standardForm.valid"
            class="ui-button-info"></button>
    <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
        <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-6">
            <button type="button" pButton (click)="submit()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
            <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
        </div>
      </ng-template>
    </p-toast>
</form>




