/* You can add global styles to this file, and also import other style files */
body{
  background-color: orange;
  text-align: center;
}
#navigation{

}

#body-container{
margin-top: 10%;
}

#container-login{
  border-radius: 30%;
  display: inline-block;
  background-color: lightgrey;
  height: 100%;
  width:40%;
  padding: 3%;
  clear: both;
}
