/* You can add global styles to this file, and also import other style files */
html {
  background-color: #FFD000;
  margin: 0;
  font-family: Roboto;
  padding-top: 65px;
}
div button{
  background-color: #1A1446;
}
/*@import "~bootstrap/dist/css/bootstrap.min.css";*/


