.divider{
  width:20px;
  height:auto;
  display:inline-block;
}
.ui-button-raised {
  width: 200px;
  font-size: 22px;
}
.logoutbutton {
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
}
.home_container{
  text-align: center;
  width:100%;
  height: 100%;
}
.main_holder{
  display: inline-block;
}
.home_column {
  float: left;
  width:50%;
  padding: 5%;
}

.home_row::after {
  content: "";
  clear: both;
  display: table;

}
.form_images{
  width: 60%;
  height: 80%;
  border-radius: 5%;
}
.ui-button-raised{
  width: 100%;
  font-size: 22px;
}
.Help_button{
  background-color: #06748C ;
  width: 15%;
}
.Liberty_image{
  width:20%;
}
.img_new {
  position: relative;
  float: left;
  border-radius: 5%;
  width:  100%;
  height: 400px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
